###
# Unity folders and files
###
[Aa]ssets/AssetStoreTools*
[Bb]uild/
[Ll]ibrary/
[Ll]ocal[Cc]ache/
[Oo]bj/
[Ll]ogs/
[Tt]emp/
[Uu]nityGenerated/
# file on crash reports
sysinfo.txt
# Unity3D generated meta files
*.pidb.meta

###
# VS/MD solution and project files
###
[Ee]xportedObj/
*.booproj
*.csproj
*.sln
*.suo
*.svd
*.unityproj
*.user
*.userprefs
*.pidb
.DS_Store

###
# OS generated
###
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
Casse brique/Assets/Scenes/SampleScene.unity
Casse brique/ProjectSettings/TagManager.asset
Casse brique/Assets/Scenes/SampleScene.unity
Casse brique/Logs/shadercompiler-AssetImportWorker0.log
Casse brique/Logs/AssetImportWorker0.log
Casse brique/Logs/AssetImportWorker1.log
Casse brique/Logs/AssetImportWorker0.log
Casse brique/Logs/AssetImportWorker1.log
Casse brique/Logs/shadercompiler-AssetImportWorker0.log
Casse brique/Logs/shadercompiler-UnityShaderCompiler.exe0.log
Casse brique/Logs/shadercompiler-UnityShaderCompiler.exe1.log
Casse brique/Logs/shadercompiler-UnityShaderCompiler.exe2.log
Casse brique/Logs/shadercompiler-UnityShaderCompiler.exe3.log
Casse brique/Logs/shadercompiler-UnityShaderCompiler.exe4.log
Casse brique/Logs/shadercompiler-UnityShaderCompiler.exe5.log
Casse brique/Logs/shadercompiler-UnityShaderCompiler.exe6.log
Casse brique/Logs/shadercompiler-UnityShaderCompiler.exe7.log
Casse brique/UserSettings/Layouts/default-2021.dwlt
